@use '../01-settings/' as *;

.btn {

    color: $color-text;
    border: none;
    border-radius: .1rem;
    display: inline-block;
    font-size: 2.2rem;
    font-weight: bold;
    padding: 1.5rem;
    text-align: center;
    width: 20rem;
    transition-duration: .8s;

    &--header {
        background-color: $color-bg;
        &:hover {
            background-color: darken($color-bg, 10%);
        }
    }
    
    &--green {
        background-color: $color-bg2;
        &:hover {
            background-color: darken($color-bg2, 10%);
        }
    }

    &--circle {
        width: 20rem;
        height: 10rem;
        border-radius: 50%;
        line-height: 10rem;
        padding: 0;
    }

    &--outline {
        background-color: transparent;
        border: 1px solid $color-text;
        &:hover {
            background-color: rgba(255, 255, 255, .3);
        }
    }
}